<?xml version="1.0" encoding="utf-8"?>

<launch>

	<node pkg="apollo_13" type="lane_follower" name="lane_follower" output="screen"/>
	<node pkg="lane_detector" type="lane_detector" name="lane_detector" output="screen">
		<remap from="camera_info" to="/camera/rgb/camera_info"/>
	</node>
	<!-- Set params -->
	<!--node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load lane_detector $(find lane_detector)/cfg/lane_detector_params.yaml" /-->
	<include file="$(find simulation)/launch/simulation_lane_follower.launch" />
	<!-- Bring up the Kinect -->
	<!-- node pkg="lane_detector" type="camera_simulator" name="camera_simulator" /-->
	<!--
	<node pkg="image_view" type="image_view" name="image_viewer">
		<remap from="image" to="/lane_detector/result"/>
	</node> -->
	<node name="kinect_throttler" type="throttle" pkg="topic_tools" args="messages /camera/rgb/image_rect_mono 30 /kinect_mono_throttled" />

	<!-- Run the navigation stack -->
		<node pkg="move_base" type="move_base" respawn="false" name="move_base">

			<!-- Planners -->
			<!-- param name="base_local_planner" value="pose_follower/PoseFollower" / -->
			<param name="base_global_planner" value="global_planner/GlobalPlannerAdapter"/>
			<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
			<!-- Costmap parameters -->
			<rosparam file="$(find apollo_13)/config/costmap_common_params_simulation.yaml" command="load" ns="global_costmap"/>
			<rosparam file="$(find apollo_13)/config/costmap_common_params_simulation.yaml" command="load" ns="local_costmap"/>
			<rosparam file="$(find apollo_13)/config/local_costmap_params.yaml" command="load"/>
			<rosparam file="$(find  apollo_13)/config/global_costmap_params_simulation.yaml" command="load"/>
			<!-- rosparam file="$(find  apollo_13)/config/poseFollower_params.yaml" command="load"/ -->
			<rosparam file="$(find  apollo_13)/config/teb_local_planner_lane_follower_params.yaml" command="load"/>
			<param name="clearing_rotation_allowed" value="false" />
		</node>

</launch>
