<?xml version="1.0" encoding="utf-8"?>
<launch>
	<master auto="start"/>

	<arg name="sbpl" default="false"/>
	<arg name="dashboard" default="true"/>
	<arg name="rviz" default="true"/>

	<!-- Set static tf transformations -->
	<node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 map odom 10"/>
	<param name="robot_description" textfile="$(find simulation)/data/urdf_model/apollo_13.urdf"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<!-- Run the necessary nodes to bring up the car -->
	<node pkg="simulation" type="simulation_node" name="simulation" output="screen"/>
	<node pkg="simulation" type="scan_node" name="scan_simulation" output="screen"/>
	<node pkg="simulation" type="usrange_node" name="usrange_simulation"/>
	<!-- Run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find simulation)/data/map/map.yaml"/>
	<!-- Run the navigation stack -->
	<group if="$(arg sbpl)">
		<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

			<!-- Planners -->
			<!-- param name="base_global_planner" value="SBPLLatticePlanner"/ -->
			<param name="base_global_planner" value="global_planner/GlobalPlanner" />
			<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
			<!-- param name="base_local_planner" value="pose_follower/PoseFollower"/ -->

			<!-- Motion primitives file -->
			<!-- param name="SBPLLatticePlanner/primitive_filename" value="$(find simulation)/data/motion_primitives/apollo_13_motion_primitives.mprim"/ -->

			<!-- Costmap parameters -->
			<rosparam file="$(find simulation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
			<rosparam file="$(find simulation)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
			<rosparam file="$(find simulation)/config/local_costmap_params.yaml" command="load"/>
			<rosparam file="$(find simulation)/config/global_costmap_params.yaml" command="load"/>
			<rosparam file="$(find  apollo_13)/config/teb_local_planner_params.yaml" command="load"/>
			<!-- rosparam file="$(find simulation)/config/sbpl_global_params.yaml" command="load"/ -->
			<param name="controller_frequency" value="5.0" />
			<param name="controller_patience" value="15.0" />

      <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->

		</node>
	</group>

	<!-- Run AMCL
	<include file="$(find simulation)/launch/amcl.launch"/>
	-->
	<!-- Show the Rviz visualization 	-->
	<group if="$(arg rviz)">
		<node pkg="rviz" type="rviz" name="rviz" args="-d $(find simulation)/data/viewer/viewer.rviz"/>
		<!--
		<include file="$(find simulation)/launch/car_display.launch"/>
	  -->
		<!-- add the double dash before "perspective"
        <node pkg="rqt_gui" type="rqt_gui" name="rqt" args="perspective-file $(find simulation)/data/control/control.perspective"/>
        -->
	</group>
	<!-- Run the Dashboard Application -->
	<group if="$(arg dashboard)">
		<node pkg="simulation" type="dashboard_node" name="dashboard_simulation" output="screen"/>
	</group>
</launch>
