<?xml version="1.0" encoding="utf-8"?>
<launch>
	<master auto="start"/>

	<arg name="planner" default="true"/>
	<arg name="dashboard" default="true"/>
	<arg name="rviz" default="true"/>
  <arg name="gmapper" default="true"/>

	<!-- Set static tf transformations -->
  <group unless="$(arg gmapper)">
	<node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 map odom 10"/>
  </group>
	<param name="robot_description" textfile="$(find simulation)/data/urdf_model/mapping_model.urdf"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<!-- Run the necessary nodes to bring up the car -->
	<node pkg="simulation" type="simulation_node" name="simulation" />
	<node pkg="simulation" type="scan_node" name="scan_simulation" output="screen"/>
	<node pkg="simulation" type="usrange_node" name="usrange_simulation" output="screen"/>

	<node pkg="automap" type="automap_node" name="automap" output="screen">
			<param name="planner_robot_width" value="0.25" />
			<param name="planner_robot_length" value="0.4" />
			<param name="planner_downsampling_factor" value="0.2" />
			<param name="planner_min_obstacle_distance" value="0.4" />
			<param name="planner_alpha" value="1.0" />

			<param name="frontier_tolerance" value="1.2" />
			<param name="frontier_dilation_rate" value="3" />
			<param name="frontier_blur_kernel" value="5" />
			<param name="frontier_inflate_frontiers" value="True" />

			<param name="exploration_rolling_window_width" value="22" />
			<param name="exploration_rolling_window_height" value="22" />

			<param name="exploration_score_simple_dist_exp" value="0.13" />
		<!--	<param name="exploration_score_simple_dist_base" value="2" /> -->
			<param name="exploration_score_simple_angle_exp" value="1.96" />
		<!--	<param name="exploration_score_simple_angle_base" value="2" /> -->

			<param name="exploration_score_nbv_sampling_points" value="25" />
			<param name="exploration_score_nbv_sensor_min_range" value="1" />
			<param name="exploration_score_nbv_sensor_max_range" value="7" />
			<param name="exploration_score_nbv_sensor_angular_accuracy" value="0.1" />
			<param name="exploration_score_nbv_sensor_fov" value="70" />
			<param name="exploration_score_nbv_angular_scan_accuracy" value="10.0" />
			<param name="exploration_score_nbv_angular_scan_range" value="180" />
			<param name="exploration_score_nbv_obstacle_inflation" value="2" />
			<!--<param name="exploration_score_nbv_alpha" value="0.10" />-->
			<!--<param name="exploration_score_nbv_beta" value="1.5" />-->
			<param name="exploration_score_nbv_alpha" value="0.12" />
			<param name="exploration_score_nbv_beta" value="1.5" />

			<param name="exploration_goal_accuracy_position" value="1.0" />
			<param name="exploration_goal_accuracy_angle" value="0.5" />

			<param name="node_retries" value="12" />
			<param name="node_information_gain" value="2500" />
			<param name="node_loop_rate" value="2" />
			<param name="node_control_on" value="True" />
			<param name="node_sensing_on" value="True" />
			<param name="node_use_nbv" value="True" />
			<param name="node_show_exploration_planner_result" value="False" />
  </node>

  <!-- Run the mapping -->
  <group if="$(arg gmapper)">
    <!-- <include file="$(find simulation)/launch/amcl.launch"/> -->
  	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
	    <param name="scan" value="scan" />
      <param name="maxUrange" value="9.8" />
      <param name="maxRange" value="10.7" />
      <param name="particles" value="120" />
      <param name="srr" value="0.0" />
      <param name="srt" value="0.0" />
      <param name="stt" value="0.0" />
      <param name="str" value="0.0" />
      <param name="lsigma" value="0.0" />
      <param name="minimumScore" value="1000" />
      <param name="map_update_interval" value="0.2" />
			<param name="linearUpdate" value="0.05"/>
  		<param name="angularUpdate" value="0.04"/>
			<param name="iterations" value="0"/>
			<param name="temporalUpdate" value="-1"/>

  	</node>
  </group>
	<!-- Run the navigation stack -->
	<group if="$(arg planner)">
		<node pkg="move_base" type="move_base" respawn="false" name="move_base">

			<!-- Planners -->
			<!-- <param name="base_global_planner" value="SBPLLatticePlanner"/> -->
				<!-- Motion primitives file -->
			<!-- <param name="SBPLLatticePlanner/primitive_filename" value="$(find simulation)/data/motion_primitives/apollo_13_motion_primitives.mprim"/> -->
			<param name="base_global_planner" value="global_planner/GlobalPlannerAdapter"/>
			<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
			<rosparam file="$(find automap)/config/simulation/teb_local_planner_params.yaml" command="load"/>
		  <!-- <param name="base_local_planner" value="pose_follower/PoseFollower"/> -->
			<!-- <rosparam file="$(find automap)/config/base_local_planner_params.yaml" command="load"/> -->

			<!-- Costmap parameters -->
			<rosparam file="$(find automap)/config/simulation/costmap_common_params.yaml" command="load" ns="global_costmap"/>
			<rosparam file="$(find automap)/config/simulation/costmap_common_local_params.yaml" command="load" ns="local_costmap"/>
			<rosparam file="$(find automap)/config/simulation/local_costmap_params.yaml" command="load"/>
			<rosparam file="$(find automap)/config/simulation/global_costmap_params.yaml" command="load"/>
			<!--<rosparam file="$(find automap)/config/sbpl_global_params.yaml" command="load"/>-->
			<param name="clearing_rotation_allowed" value="false" />


		</node>
	</group>

	<!-- Show the Rviz visualization 	-->
	<group if="$(arg rviz)">
		<node pkg="rviz" type="rviz" name="rviz" args="-d $(find simulation)/data/viewer/viewer.rviz"/>

	</group>
	<!-- Run the Dashboard Application -->
	<group if="$(arg dashboard)">
		<node pkg="simulation" type="dashboard_node" name="dashboard_simulation" output="screen"/>
	</group>
</launch>
